 .rankings-page {
  padding: 120px 8rem;
}


.rankings-page h1 {
  text-align: center;
  font-size: 3rem;
}


.subtitle {
  text-align: center;
  color: #64748b;
  margin-bottom: 3rem;
}


.full-ranking-list {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.full-ranking-card {
  display: flex;
  align-items: center;
  gap: 2rem;

  background: white;
  padding: 2rem;

  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}


.rank {
  font-size: 2.5rem;
  font-weight: 800;
  color: #2563eb;
}


.rating {
  display: flex;
  gap: .5rem;
  align-items: center;
  color: #f59e0b;
}


.rating span {
  color: #111827;
  font-weight: bold;
}


/* iPhone 13 / mobile */
@media (max-width: 430px) {

  .rankings-page {
    padding: 90px 1rem;
  }


  .rankings-page h1 {
    font-size: 2rem;
  }


  .subtitle {
    font-size: 0.95rem;
    margin-bottom: 2rem;
  }


  .full-ranking-list {
    width: 100%;
    gap: 1rem;
  }


  .full-ranking-card {
    flex-direction: column;
    align-items: flex-start;

    gap: 1rem;
    padding: 1.2rem;

    border-radius: 16px;
  }


  .rank {
    font-size: 2rem;
  }


  .full-ranking-card h2 {
    font-size: 1.2rem;
  }


  .rating {
    font-size: 0.9rem;
  }

}