.navbar {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 15px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0f172a;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #475569;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links li a:hover {
  color: #2563eb;
}

/* AUTH BUTTONS */
.auth-buttons {
  display: flex;
  gap: 10px;
}

.login {
  color: #2563eb;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: 500;
}

.signup {
  background: #2563eb;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.signup:hover {
  background: #1d4ed8;
}

/* MOBILE */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-bottom: 1px solid #e2e8f0;
  }

  .nav-links.active {
    display: flex;
  }

  .auth-buttons {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}








@media (max-width: 768px) {
  .nav-container {
    padding: 10px 15px;
  }

  .logo {
    font-size: 1.2rem;
  }
}